*{

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: black;
    max-height: 100vh;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ship {
  height: 8rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.ship:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: logo-spin 0.5s
}
.ship.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.card button {
  background-color: rgb(193, 193, 32);
  color: black;
  border-color: black;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30%;

}
form input{
  margin-top: 1rem;
  border-radius: .5rem;
  height: 2rem;
}

